/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";


.button-style {
    color: red; background-color: black;
}
.page-sapce{
    padding: 1rem;
}
.mt-2{
margin-top: 1rem;
}
.card-r{
border-radius: 0.5rem;
}

.alert-red{

    color: red($color: #000000);
}

.layout {
    margin: 10px;
}

.hide{
        display: none !important;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff8c;
}