<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="margin:10px;" fxFlex="100" fxLayoutAlign="end end" [fxShow]="true"><button mat-button style="width: 120px; margin:10px;font-size:20px">Add User</button></div>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
    </div>
  </div>
</div>